@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/general';

.pagetitle{
    margin-top: 1rem;
    padding-left: 2rem;
    display: inline-flex;
    align-items: center;
}
.pageheading{
    // padding: 0.8rem 0rem 0rem 2rem;
    font-size: 2.7rem;
    color: #323232;
}

.backicon{
    margin-right: 15px;
    width: 45px;
    height: 45px;
}

.container{
    display: flex;
    justify-content: space-evenly;
}
.chakracard{
    margin: 2rem 2rem;
    padding: 1rem 1rem;
    color: $primary-font;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    box-shadow: 0 5px 9px 5px rgba(20, 59, 166, .3);
    background-color: $sec-color;
    width: 40%;
}

.chakraheading{
    font-size: 2rem;
    font-weight: bolder;
}

.chakraimg{
    width: 75%;
    padding: 1rem 0;
}

.chakrainfo{
    border: 1px solid $border-color;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    border-radius: 15px;
    text-align: left;
}

.chakrapara{
    font-size: 1.2rem;
}

.chakralabels{
    font-size: 1.3rem;
}

.optioncard{
    margin: 2rem 2rem;
    padding: 1rem 1rem;
    color: $primary-font;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    box-shadow: 0 5px 9px 5px rgba(20, 59, 166, .3);
    background-color: $sec-color;
    width: 80%;
}

// Meditate chakra component styling

.completecard{

    margin: 2rem 2rem;
    padding: 1rem 1rem;
    color: $primary-font;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    box-shadow: 0 5px 9px 5px rgba(20, 59, 166, .3);
    background-color: $sec-color;
    width: 30%;
}

.progresscard{
    margin: 2rem 2rem;
    padding: 1rem 1rem;
    color: $primary-font;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    box-shadow: 0 5px 9px 5px rgba(20, 59, 166, .3);
    background-color: $sec-color;
    width: 30%;
}

.cardbtn{
    background-color: $sec-color;
    font-size: 1.2rem;
    border:none;
}