@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/general';

.navbar{
    color: $primary-font;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: $sec-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 9px 5px rgba(20, 59, 166, .3);

    &__logo{
        color: $primary-font;
        font-weight: lighter;
        font-style: oblique;
        font-size: 2.5rem;
    }

    &__links{
        display: inline-flex;
        padding: 0.5rem 0.5rem;
        align-items: baseline;
    }

    &__searchbar{
        font-size: 1rem;
        margin: 0 1.5rem 0 1.5rem;
        padding: 0 1.5rem 0 1.5rem;
        background-image: url('../../assets/icons/Icon-search.svg');
        background-repeat: no-repeat;
        background-position: bottom 13px right 20px; 
        width: 18rem;
        height: 3rem;
        border: 1px solid #E1E1E1;
        border-radius: 25px ;
        background-color: #fafafa;
        font-family: $primary-font-family, Arial, Helvetica, sans-serif;
        // font-family: '',  Arial, Helvetica, sans-serif;
    }
}

.imglogo{
    height: 70px;
}
.register{
    padding-left: 0.4rem;
}

.signout_btn{
    padding-left: 0.3rem;
    color: darkred;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: $sec-color;
    border: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
  }

.logolink{
    text-decoration: none;
}