
// color scheme
$primary-color: #A2AF58;
$sec-color: #F3F8D6;
$button-color:#F6FDD1;
$border-color: #5B603F;
$nav-bar:#F6FDD1;

$primary-font:#5B603F;

// fonts
$primary-font-family: "Titillium Web";